<h1 id="assignmentplanning">Assignment Planning</h1>
<h2 id="viewyourprogressupcomingassignmentssetgoals">View your progress &amp; upcoming assignments &amp; set goals</h2>
<p><img src="../../_assets/images/MyLA_AssignmentPlanningOverview.png" alt="Assignment Planning view" /></p>
<p>The Assignment Planning page shows two different assignment visualizations:</p>
<p><strong>Minimum Goal and Grade Progress</strong>: At the top of the page you can set a minimum course goal and view a bar showing your current grade, maximum possible grade, and minimum goal grade.</p>
<p><strong>Assignments by Due Date</strong>: View upcoming and past assignments by week. For each assignment, you can see when it's due, how much it figures into your final grade, and your grade (for graded assignments).</p>
<p><strong>NOTE</strong>: Only assignments that show up in your Canvas course appear in the visualizations.</p>
<h2 id="minimumgoal">Minimum Goal</h2>
<p><strong>Using My Minimum Goal (%)</strong></p>
<p><img src="../../_assets/images/MyLA_AP_CourseGoal.png" alt="minimum goal setting" /></p>
<ul>
<li>Set a minimum course goal as a percentage by typing in a number or using the up/down arrows in the text box. When you do this, you’ll see your goal show up on the Grade Progress bar. MyLA will also calculate the grades you need to get on all ungraded assignments to meet that goal.</li>
<li>Use the Clear button to remove the course goal and all assignment goals.</li>
</ul>
<h2 id="gradeprogress">Grade Progress</h2>
<p><strong>Using the Grade Progress Bar</strong></p>
<p><img src="../../_assets/images/MyLA_AP_ProgressBar.png" alt="grade progress bar" /></p>
<ul>
<li>Current: The blue line and blue bar show your current grade in the course based on Canvas data.</li>
<li>Max Possible: The dark gray line shows the maximum possible grade you can earn in the course based on your assignments so far.</li>
<li>Goal: The green line shows the minimum course goal, if you have set that goal.</li>
</ul>
<p><strong>NOTE:</strong> The grades on the progress bar are based on data from your Canvas course. Always consult the syllabus and your instructor for information about how grading works in the course.</p>
<h2 id="assignmentsduebydate">Assignments Due by Date</h2>
<p><strong>Using the Assignments List</strong></p>
<p><img src="../../_assets/images/MyLA_AP_AssignmentList.png" alt="assignment list" /></p>
<ul>
<li>Use the drop-down option to decide which assignments you want to see in the list based on their impact on your grade. You can choose your default setting. Select a weight from the drop-down, then save it by checking "Remember my setting." This filter will be automatically applied each time you return to the page. You can change your default at any time.</li>
<li>Scroll up and down the list to see past and future assignments.</li>
<li><strong>Filter by Type:</strong> Use this option to select which assignments to include on the list by selecting the types of assignments you want to see. These are the types, or assignment groups, that have been set up in the course.</li>
<li><strong>Filter by Name:</strong> Use this option to filter the list of assignments based on the name of the assignment.</li>
<li><strong>Filter by Status:</strong> Use this option to filter the list of assignments based on whether the assignments have been graded, are pending grades, or haven’t been submitted yet.</li>
<li><strong>Clear Filters:</strong> Click this button to clear any filters that you’ve added to the assignment list.</li>
<li><strong>Graded/Pending Grade/Unsubmitted:</strong> Graded assignments display in blue. Assignments that have been submitted but have not been graded display as “pending grade” in orange. Assignments that have not yet been submitted display in gray.</li>
</ul>