<h1 id="resourcesaccessed">Resources Accessed</h1>
<h2 id="whichresourcesarepopular">Which resources are popular?</h2>
<p><img src="../../_assets/images/MyLA_ResourcesAccessedView.png" alt="Resources Accessed view" /></p>
<p>In the Resources Accessed view you can check out which files, videos, and other resources are accessed most often by your classmates.</p>
<p>The visualization shows which resources you've accessed (blue) and which you haven't (gray). If you haven't looked at a resource, you can click on the file name to open it up!</p>
<p><strong>Customize the list</strong>: Use the week slider, grade ranking drop-down, resource types, and brush controller to change the files that display.</p>
<p>You can also set a preferred default for the grade ranking filter.</p>
<p><strong>NOTE</strong>: The visualization only displays files and videos in your Canvas course. Readings and files outside Canvas, like YouTube, are not included.</p>
<h2 id="usingtheresourcesaccessed">Using the Resources Accessed</h2>
<p>You can customize the display, use mouse overs for more information, or click on a file name to access a resource.</p>
<h3 id="selectatimerange">Select a Time Range</h3>
<p><img src="../../_assets/images/MyLA_ResourcesAccessedWeekSlider.png" alt="Resources Accessed slider" /></p>
<p>The default view shows you what was accessed this week and last week. You can use the slider ends to change that time range. Move a slider and watch the list update below!</p>
<h3 id="selectagraderange">Select a Grade Range</h3>
<p>The chart defaults to show resources accessed by all students. You can use the drop-down to filter the list. Want to see what students with 90-100% in the course are accessing? Click that range in the drop-down. You can change the list of files to see what students in the 70-79%, 80-89%, or 90-100% ranking are reading.</p>
<p>Set your default setting for the grade range filter. Select a grade range from the drop-down, then save it by checking "Remember my setting." This filter will be automatically applied each time you return to the page. You can change your default at any time.</p>
<h3 id="selectatypeofresources">Select a Type of Resources</h3>
<p>The chart defaults to show all available resource types in your course. You can use the checkboxes to filter the list. Want to see what lecture videos are popular? Check videos and uncheck files to focus on the videos accessed during the selected timeframe. You can filter the list to show the types of resources you're most interested in.</p>
<h3 id="selecthowmanyresourcesdisplay">Select How Many Resources Display</h3>
<p>Use the brush control on the right side of the chart to select how many of the resources display in the main visualization. Drag the bottom line down to see more. Drag it up to see fewer.</p>
<h3 id="brushsliderimage">Brush slider image</h3>
<p><img src="../../_assets/images/myla-resources-accessed-3.png" alt="brush slider" /></p>
<p>Mouse over a bar for more information. If it's a resource you've accessed, then you can see how many times you viewed it and when you last viewed it.</p>
<h3 id="clicktheresourcenametoaccessit">Click the resource name to access it</h3>
<p>The resource names on the left are clickable links. Click on a file name to access it from your Canvas course.</p>